# Analyse du jeu de données des noms de domaines FR

## Importation des bibliothèques

In [2]:
import pandas as pd

## Lecture du fichier

In [3]:
# Pour vérifier l'encodage
with open('../data/202102_OPENDATA_A-NomsDeDomaineEnPointFr.csv') as f:
    print(f)

<_io.TextIOWrapper name='../data/202102_OPENDATA_A-NomsDeDomaineEnPointFr.csv' mode='r' encoding='cp1252'>

In [4]:
data = pd.read_csv("../data/202102_OPENDATA_A-NomsDeDomaineEnPointFr.csv", encoding="cp1252", sep=";")

## Aperçu du fichier
Il recense actuellement 6 695 031 noms de domaines avec l'extension .fr et contient 12 variables que l'on pourra étudier :
- Nom de domaine : Nom de domaine enregistré 
- Pays BE : Code (ISO 3166-1 alpha-2) du pays du bureau d'enregistrement
- Departement BE : Département du bureau d'enregistrement
- Ville BE : Ville du bureau d'enregistrement
- Nom BE : Nom du bureau d'enregistrement
- Sous domaine : Indicateur de l'éventuelle zone de nommage
- Type du titulaire : Indicateur du type de titulaire en tant que personne physique ou morale
- Pays titulaire : Code (ISO 3166-1 alpha-2) du titulaire
- Department titulaire : Département du titulaire
- Domaine IDN : Indicateur de l'enregistrement du nom de domain en caractères IDN (Internationalized Domain Name) ou ASCII sinon
- Date de création : Date de création du nom de domaine
- Date de retrait du WHOIS : Date de suppression définitive du nom de domaine

In [5]:
data.shape

(6695031, 12)

In [6]:
data.head()

,Nom de domaine,Pays BE,Departement BE,Ville BE,Nom BE,Sous domaine,Type du titulaire,Pays titulaire,Departement titulaire,Domaine IDN,Date de création,Date de retrait du WHOIS
0,aaaaaaaaaa.fr,DE,99,HOMBURG,1API GmbH,fr,PERSON,FR,14,0,12-04-2018,NaN
1,aaaaaaaaa.fr,FR,59,ROUBAIX,OVH,fr,ORG,FR,69,0,22-05-2019,21-07-2020
2,aaa-aaa.fr,FR,88,GOLBEY,SAS Ligne Web Services - LWS,fr,ORG,FR,94,0,03-05-2013,31-05-2019
3,aaaaaa.fr,FR,59,ROUBAIX,OVH,fr,PERSON,FR,31,0,29-10-2013,NaN
4,aaaaa-asso.fr,FR,75,PARIS,GANDI,fr,ORG,FR,93,0,10-03-2011,NaN

In [7]:
data.isna().sum()

Nom de domaine                    0
Pays BE                           0
Departement BE                    0
Ville BE                          0
Nom BE                            0
Sous domaine                      0
Type du titulaire            128100
Pays titulaire               128102
Departement titulaire        128100
Domaine IDN                       0
Date de création                  0
Date de retrait du WHOIS    3775956
dtype: int64

In [8]:
data.duplicated().sum()

0

In [9]:
data["Pays BE"].value_counts()

FR    4509916
DE    1419344
NL     181069
US      98344
GB      96977
DK      95481
CH      70692
MC      60289
LU      49502
CA      32200
BE      17660
BS      13528
AU      11821
CZ      11216
ES       5631
SE       4622
IE       4499
NO       4329
SG       3454
IT       1626
SC       1024
KY        436
IL        383
RE        294
KR        250
GP        131
MQ         74
FI         69
CY         66
AT         57
PM         16
JP         11
MA         10
MU          7
LI          2
HK          1
Name: Pays BE, dtype: int64

In [10]:
data["Nom BE"].value_counts()

OVH                               2519045
1&1 IONOS SE                       924051
GANDI                              847253
SCALEWAY                           208775
SAS Ligne Web Services - LWS       177681
                                   ...
WYITH LIMITED                           1
CODINA SARL                             1
KDDI FRANCE                             1
Cyberlink Internet Services AG          1
MWM COMMUNICATION                       1
Name: Nom BE, Length: 606, dtype: int64

In [11]:
data["Sous domaine"].value_counts()

fr           6679257
asso.fr         5674
com.fr          4986
tm.fr           3238
gouv.fr         1058
nom.fr           685
presse.fr        133
Name: Sous domaine, dtype: int64

In [12]:
data["Pays titulaire"].value_counts()

FR    5961149
DE     155644
NL      80983
BE      73877
GB      56750
       ...
MH          1
KY          1
SY          1
FM          1
DM          1
Name: Pays titulaire, Length: 186, dtype: int64